---
name: Linting checks

# Trigger the workflow on push
"on":
  push:
  pull_request:

env:
  SCCACHE_GHA_ENABLED: "true"
  RUSTC_WRAPPER: "sccache"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  clippy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Setup sccache
        uses: mozilla-actions/sccache-action@v0.0.9
      - name: "Run clippy"
        run: |
          rustup component add clippy
          cargo clippy --all-features --all-targets
  fmt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Setup sccache
        uses: mozilla-actions/sccache-action@v0.0.9
      - name: "Run cargo fmt"
        run: |
          rustup component add rustfmt
          cargo fmt --check
