---
name: Spell Check

"on":
  push:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  codespell:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
          clean: false
      - name: Install and run codespell
        run: |
          python -m pip install uv
          uvx --python 3 codespell
